<a href="https://colab.research.google.com/github/KimJunGu9/ADP_basic/blob/main/1_2_%ED%96%89%2C%EC%97%B4%EC%84%A0%ED%83%9D%2C%EC%B6%94%EA%B0%80%2C%EC%82%AD%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# row/column 선택, 추가, 삭제

# row/column 선택
# df['컬럼명'] : 하나의 컬럼을 series형색으로 출력
# df[['컬럼명1','컬럼명2']] : 여러 개의 컬럼을 dataframe형식으로 출력
# df.loc['row_list, col_list'] : 행과 열을 지정하여 출력(모든 행 또는 열을 출력할 때는 콜론 : 사용
# df.iloc[row위치, col위치] : 행과 열 위치를 지정하여 출력(index 접근)

# loc : 레이블별 선택을 위한 순전히 레이블 위치 기반 인덱서
# iloc: 위치별 선택을 위한 순수한 정수 위치 기반 인덱싱

In [2]:
import pandas as pd
import numpy as np

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
iris_data = pd.read_csv('/content/drive/MyDrive/ADP/Part.1/새 폴더/2. 데이터 핸들링/2.1.DataFrame 기본/example.csv')

In [6]:
iris_data.head(5)

   sepal length  sepal width  petal length  petal width       target
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [8]:
iris_data[['sepal length','sepal width']].head(2)

   sepal length  sepal width
0           5.1          3.5
1           4.9          3.0

In [9]:
iris_data.loc[[4,5,10],['sepal length','target']]

    sepal length       target
4            5.0  Iris-setosa
5            5.4  Iris-setosa
10           5.4  Iris-setosa

In [10]:
example_data = iris_data.loc[4:10,['sepal length','sepal width','target']]
example_data.index = ["사","구","육","칠",8,9,10]
example_data

    sepal length  sepal width       target
사            5.0          3.6  Iris-setosa
구            5.4          3.9  Iris-setosa
육            4.6          3.4  Iris-setosa
칠            5.0          3.4  Iris-setosa
8            4.4          2.9  Iris-setosa
9            4.9          3.1  Iris-setosa
10           5.4          3.7  Iris-setosa

In [11]:
example_data.loc["사":"칠",:]

   sepal length  sepal width       target
사           5.0          3.6  Iris-setosa
구           5.4          3.9  Iris-setosa
육           4.6          3.4  Iris-setosa
칠           5.0          3.4  Iris-setosa

In [12]:
example_data.loc[["사",9],:]

   sepal length  sepal width       target
사           5.0          3.6  Iris-setosa
9           4.9          3.1  Iris-setosa

In [13]:
example_data.iloc[0:7,0:2]

    sepal length  sepal width
사            5.0          3.6
구            5.4          3.9
육            4.6          3.4
칠            5.0          3.4
8            4.4          2.9
9            4.9          3.1
10           5.4          3.7

In [14]:
# column 추가 / 삭제 
    
# 컬럼 추가 : df['컬럼명'] = 선언할 값  
# 컬럼 삭제 : df.drop(columns = ['컬럼명1', '컬럼명2'], inplace=True)

In [15]:
iris_data['temp'] = range(0,150)
iris_data['temp2'] = "iris"
iris_data['count'] = 1
iris_data.head()

,sepal length,sepal width,petal length,petal width,target,temp,temp2,count
0,5.1,3.5,1.4,0.2,Iris-setosa,0,iris,1
1,4.9,3.0,1.4,0.2,Iris-setosa,1,iris,1
2,4.7,3.2,1.3,0.2,Iris-setosa,2,iris,1
3,4.6,3.1,1.5,0.2,Iris-setosa,3,iris,1
4,5.0,3.6,1.4,0.2,Iris-setosa,4,iris,1

In [16]:
iris_data = iris_data.drop(columns=['temp','temp2'])
iris_data

,sepal length,sepal width,petal length,petal width,target,count
0,5.1,3.5,1.4,0.2,Iris-setosa,1
1,4.9,3.0,1.4,0.2,Iris-setosa,1
2,4.7,3.2,1.3,0.2,Iris-setosa,1
3,4.6,3.1,1.5,0.2,Iris-setosa,1
4,5.0,3.6,1.4,0.2,Iris-setosa,1
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,1
146,6.3,2.5,5.0,1.9,Iris-virginica,1
147,6.5,3.0,5.2,2.0,Iris-virginica,1
148,6.2,3.4,5.4,2.3,Iris-virginica,1
149,5.9,3.0,5.1,1.8,Iris-virginica,1

In [17]:
# row 추가 / 삭제 
    
# 행 추가 : df.append(df와 컬럼명이 같은 데이터프레임)
# 행 삭제 : df.drop(인덱스 리스트) 
# 결측 데이터 삭제 : df.dropna(inpace=True) 
# 중복 데이터 삭제 : df.drop_duplicates()

In [18]:
temp = pd.DataFrame([[1,1,1,1,1,1],
                     [2,2,2,2,2,np.nan],
                     [1,np.nan,np.nan,np.nan,np.nan,np.nan]
                    ],columns=iris_data.columns)

In [19]:
temp

   sepal length  sepal width  petal length  petal width  target  count
0             1          1.0           1.0          1.0     1.0    1.0
1             2          2.0           2.0          2.0     2.0    NaN
2             1          NaN           NaN          NaN     NaN    NaN

In [20]:
iris_data = iris_data.append(temp)
iris_data

<ipython-input-20-870412ba32a9>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  iris_data = iris_data.append(temp)

,sepal length,sepal width,petal length,petal width,target,count
0,5.1,3.5,1.4,0.2,Iris-setosa,1.0
1,4.9,3.0,1.4,0.2,Iris-setosa,1.0
2,4.7,3.2,1.3,0.2,Iris-setosa,1.0
3,4.6,3.1,1.5,0.2,Iris-setosa,1.0
4,5.0,3.6,1.4,0.2,Iris-setosa,1.0
...,...,...,...,...,...,...
148,6.2,3.4,5.4,2.3,Iris-virginica,1.0
149,5.9,3.0,5.1,1.8,Iris-virginica,1.0
0,1.0,1.0,1.0,1.0,1.0,1.0
1,2.0,2.0,2.0,2.0,2.0,NaN
2,1.0,NaN,NaN,NaN,NaN,NaN

In [21]:
iris_data.reset_index(drop=True,inplace=True)
iris_data

,sepal length,sepal width,petal length,petal width,target,count
0,5.1,3.5,1.4,0.2,Iris-setosa,1.0
1,4.9,3.0,1.4,0.2,Iris-setosa,1.0
2,4.7,3.2,1.3,0.2,Iris-setosa,1.0
3,4.6,3.1,1.5,0.2,Iris-setosa,1.0
4,5.0,3.6,1.4,0.2,Iris-setosa,1.0
...,...,...,...,...,...,...
148,6.2,3.4,5.4,2.3,Iris-virginica,1.0
149,5.9,3.0,5.1,1.8,Iris-virginica,1.0
150,1.0,1.0,1.0,1.0,1.0,1.0
151,2.0,2.0,2.0,2.0,2.0,NaN
152,1.0,NaN,NaN,NaN,NaN,NaN

In [22]:
# 인덱스로 삭제, 차후 조건문을 이용한 행 삭제 
drop_idx = [150,151]
iris_data.drop(drop_idx,inplace=True)
iris_data

,sepal length,sepal width,petal length,petal width,target,count
0,5.1,3.5,1.4,0.2,Iris-setosa,1.0
1,4.9,3.0,1.4,0.2,Iris-setosa,1.0
2,4.7,3.2,1.3,0.2,Iris-setosa,1.0
3,4.6,3.1,1.5,0.2,Iris-setosa,1.0
4,5.0,3.6,1.4,0.2,Iris-setosa,1.0
...,...,...,...,...,...,...
146,6.3,2.5,5.0,1.9,Iris-virginica,1.0
147,6.5,3.0,5.2,2.0,Iris-virginica,1.0
148,6.2,3.4,5.4,2.3,Iris-virginica,1.0
149,5.9,3.0,5.1,1.8,Iris-virginica,1.0
152,1.0,NaN,NaN,NaN,NaN,NaN

In [23]:
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 151 entries, 0 to 152
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  151 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   target        150 non-null    object
 5   count         150 non-null    float64
dtypes: float64(5), object(1)
memory usage: 8.3+ KB

In [24]:
# 결측치가 있는 모든 행 삭제 
iris_data.dropna(inplace=True)
iris_data

,sepal length,sepal width,petal length,petal width,target,count
0,5.1,3.5,1.4,0.2,Iris-setosa,1.0
1,4.9,3.0,1.4,0.2,Iris-setosa,1.0
2,4.7,3.2,1.3,0.2,Iris-setosa,1.0
3,4.6,3.1,1.5,0.2,Iris-setosa,1.0
4,5.0,3.6,1.4,0.2,Iris-setosa,1.0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,1.0
146,6.3,2.5,5.0,1.9,Iris-virginica,1.0
147,6.5,3.0,5.2,2.0,Iris-virginica,1.0
148,6.2,3.4,5.4,2.3,Iris-virginica,1.0
149,5.9,3.0,5.1,1.8,Iris-virginica,1.0

In [25]:
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   target        150 non-null    object
 5   count         150 non-null    float64
dtypes: float64(5), object(1)
memory usage: 8.2+ KB

In [26]:
# 중복 제거 
iris_data[['target','count']].drop_duplicates()

              target  count
0        Iris-setosa    1.0
50   Iris-versicolor    1.0
100   Iris-virginica    1.0