<a href="https://colab.research.google.com/github/KimJunGu9/ADP_basic/blob/main/2_1_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%9A%94%EC%95%BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 데이터 요약(Groupby)

# 특정 column을 기준으로 데이터를 그룹지어 집계함수 적용

# df.groupby('그룹화할 기준열').function()
# 2개 이상의 그룹화를 할 때에는 배열로 컬럼명 입력 
# df.groupby(['컬럼명1', '컬럼명2']).function()

In [2]:
import pandas as pd
import numpy as np

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df_iris = pd.read_csv('/content/drive/MyDrive/ADP/Part.1/새 폴더/2. 데이터 핸들링/2.1.DataFrame 기본/example.csv')

In [5]:
df_iris

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [7]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   target        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
df_iris.groupby(['target']).mean()

                 sepal length  sepal width  petal length  petal width
target
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
Iris-virginica          6.588        2.974         5.552        2.026

In [10]:
df_iris.target.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [11]:
df_iris.groupby('target').mean().reset_index()

            target  sepal length  sepal width  petal length  petal width
0      Iris-setosa         5.006        3.418         1.464        0.244
1  Iris-versicolor         5.936        2.770         4.260        1.326
2   Iris-virginica         6.588        2.974         5.552        2.026

In [12]:
# iris 데이터에서 종별 Sepal.Width의 평균 구하기

df_iris.groupby('target').mean()[['sepal width']]

                 sepal width
target
Iris-setosa            3.418
Iris-versicolor        2.770
Iris-virginica         2.974

In [13]:
# iris 데이터에서 종별 Sepal.Width와 Petal.Width의 평균을 구해보자

avg2 = df_iris.groupby('target').mean()[['sepal width', 'petal width']]
avg2

                 sepal width  petal width
target
Iris-setosa            3.418        0.244
Iris-versicolor        2.770        1.326
Iris-virginica         2.974        2.026

In [15]:
# 범주형변수의 도수분포표, 이원분할표


# 기준이 하나일 때 도수분포표

# np.unique(df['기준열'], return_counts=True)
# pd.Series(df['기준열']).value_counts()

In [16]:
df_t = pd.read_csv('/content/drive/MyDrive/ADP/Part.1/2.데이터_핸들링/data/titanic.csv')

In [17]:
df_t['survived'].value_counts()

0    549
1    342
Name: survived, dtype: int64

In [19]:
# pandas를 이요한 도수분포표

class_count = df_t['class'].value_counts()
class_count

Third     491
First     216
Second    184
Name: class, dtype: int64

In [20]:
pd.DataFrame(class_count)

        class
Third     491
First     216
Second    184

In [21]:
# 기준이 두개일 때 

# pd.crosstab(Series1, Series2, dropna = , nomalize = )  
# dropna = True이면, 항목이 모두 NaN인 열은 포함하지 않음

In [22]:
# Titanic 에서 좌석등급과 생존여부의 관계를 살펴보기 위해 Class 변수에 따른 Survived 변수의 도수를 표 형태로 나타내기

pd.DataFrame(df_t[['class','survived']].value_counts())

                   0
class  survived
Third  0         372
First  1         136
Third  1         119
Second 0          97
       1          87
First  0          80

In [23]:
pd.crosstab(df_t['class'], df_t['survived'], dropna=True)

survived    0    1
class
First      80  136
Second     97   87
Third     372  119

In [24]:
# 범주형 변수에 대한 상대도수비율

# pd.crosstab(index,columns, dropna = , normalize = ) 
# normalize = True이면 모든 값에 대해 정규화 
#            'index'를 전달하면 행에 대해 정규화 
#            'columns'를 전달하면 열별로 정규화

In [25]:
# Titanic 데이터의 sex 변수는 성별을 나타냄

# sex 변수에 따른 생존여부의 관계를 전체에 대한 비율, 행별비율, 열별 비율로 살피기

In [26]:
pd.crosstab(df_t['sex'], df_t['survived'])

survived    0    1
sex
female     81  233
male      468  109

In [27]:
pd.crosstab(df_t['sex'], df_t['survived'],normalize=True)

survived         0         1
sex
female    0.090909  0.261504
male      0.525253  0.122334

In [28]:
0.090909+0.261504+0.525253+0.122334

1.0

In [29]:
pd.crosstab(df_t['sex'], df_t['survived'],normalize='index')

survived         0         1
sex
female    0.257962  0.742038
male      0.811092  0.188908

In [30]:
pd.crosstab(df_t['sex'], df_t['survived'],normalize='columns')

survived         0         1
sex
female    0.147541  0.681287
male      0.852459  0.318713