<a href="https://colab.research.google.com/github/KimJunGu9/ADP_basic/blob/main/2_3_%EB%AC%B8%EC%9E%90%EC%97%B4_%EB%B3%80%ED%99%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문자열 변환

# 인덱싱
# 시리즈.str[:n] : 문자열 인덱스로 추출

In [2]:
import pandas as pd 
import numpy as np

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df_sejong = pd.read_csv('/content/drive/MyDrive/ADP/Part.1/2.데이터_핸들링/data/7.세종시_아파트(전월세)_실거래가.csv')

In [5]:
df_sejong.drop(columns='Unnamed: 0',inplace=True)

In [6]:
df_sejong

,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도
0,201701,13,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,10000,0,13,2015
1,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,18000,0,19,2015
2,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,59.8338,17000,0,10,2015
3,201701,15,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,17000,0,2,2015
4,201702,4,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),월세,84.9895,10000,30,13,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
38890,202011,21,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,102.8300,10000,100,5,2020
38891,202012,8,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,102.5300,10000,95,14,2020
38892,202012,11,세종특별자치시 해밀동,6402,1,해밀마을 2단지,전세,84.9500,30000,0,18,2020
38893,202012,12,세종특별자치시 해밀동,6402,1,해밀마을 2단지,전세,84.9500,34000,0,18,2020
38894,202012,13,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,84.9500,8000,85,16,2020

In [7]:
df_sejong.시군구.unique()

array(['세종특별자치시 고운동', '세종특별자치시 금남면 용포리', '세종특별자치시 나성동', '세종특별자치시 다정동',
       '세종특별자치시 대평동', '세종특별자치시 도담동', '세종특별자치시 반곡동', '세종특별자치시 보람동',
       '세종특별자치시 부강면 부강리', '세종특별자치시 새롬동', '세종특별자치시 소담동', '세종특별자치시 아름동',
       '세종특별자치시 어진동', '세종특별자치시 연동면 명학리', '세종특별자치시 연서면 봉암리',
       '세종특별자치시 장군면 금암리', '세종특별자치시 전동면 노장리', '세종특별자치시 전의면 동교리',
       '세종특별자치시 전의면 유천리', '세종특별자치시 조치원읍 교리', '세종특별자치시 조치원읍 남리',
       '세종특별자치시 조치원읍 번암리', '세종특별자치시 조치원읍 상리', '세종특별자치시 조치원읍 신안리',
       '세종특별자치시 조치원읍 신흥리', '세종특별자치시 조치원읍 원리', '세종특별자치시 조치원읍 정리',
       '세종특별자치시 조치원읍 죽림리', '세종특별자치시 조치원읍 침산리', '세종특별자치시 종촌동',
       '세종특별자치시 한솔동', '세종특별자치시 소정면 운당리', '세종특별자치시 조치원읍 서창리',
       '세종특별자치시 해밀동'], dtype=object)

In [8]:
temp = "세종특별자치시 한솔동"

In [9]:
df_sejong['시군구'].str[0:7]

0        세종특별자치시
1        세종특별자치시
2        세종특별자치시
3        세종특별자치시
4        세종특별자치시
          ...
38890    세종특별자치시
38891    세종특별자치시
38892    세종특별자치시
38893    세종특별자치시
38894    세종특별자치시
Name: 시군구, Length: 38895, dtype: object

In [10]:
# 앞자리만 추출 

df_sejong['시'] = df_sejong['시군구'].str[0:7]
df_sejong['시']

0        세종특별자치시
1        세종특별자치시
2        세종특별자치시
3        세종특별자치시
4        세종특별자치시
          ...
38890    세종특별자치시
38891    세종특별자치시
38892    세종특별자치시
38893    세종특별자치시
38894    세종특별자치시
Name: 시, Length: 38895, dtype: object

In [11]:
# 분할

In [12]:
df_sejong['시군구'].str.split(" ",expand=True) 

# 시리즈를 데이터프레임으로 바꿔주는 것은 expand=True

             0    1     2
0      세종특별자치시  고운동  None
1      세종특별자치시  고운동  None
2      세종특별자치시  고운동  None
3      세종특별자치시  고운동  None
4      세종특별자치시  고운동  None
...        ...  ...   ...
38890  세종특별자치시  해밀동  None
38891  세종특별자치시  해밀동  None
38892  세종특별자치시  해밀동  None
38893  세종특별자치시  해밀동  None
38894  세종특별자치시  해밀동  None

[38895 rows x 3 columns]

In [13]:
df_sejong_split = df_sejong['시군구'].str.split(" ",expand=True)

In [14]:
df_sejong_split.columns = ['시','군','구']

In [15]:
df_sejong_split

             시    군     구
0      세종특별자치시  고운동  None
1      세종특별자치시  고운동  None
2      세종특별자치시  고운동  None
3      세종특별자치시  고운동  None
4      세종특별자치시  고운동  None
...        ...  ...   ...
38890  세종특별자치시  해밀동  None
38891  세종특별자치시  해밀동  None
38892  세종특별자치시  해밀동  None
38893  세종특별자치시  해밀동  None
38894  세종특별자치시  해밀동  None

[38895 rows x 3 columns]

In [16]:
df_sejong_split['구']==df_sejong_split['구']

0        False
1        False
2        False
3        False
4        False
         ...
38890    False
38891    False
38892    False
38893    False
38894    False
Name: 구, Length: 38895, dtype: bool

In [17]:
df_sejong_split[ df_sejong_split['구']==df_sejong_split['구']]

             시     군    구
1898   세종특별자치시   금남면  용포리
1899   세종특별자치시   금남면  용포리
1900   세종특별자치시   금남면  용포리
1901   세종특별자치시   금남면  용포리
1902   세종특별자치시   금남면  용포리
...        ...   ...  ...
36637  세종특별자치시  조치원읍  침산리
36638  세종특별자치시  조치원읍  침산리
36639  세종특별자치시  조치원읍  침산리
36640  세종특별자치시  조치원읍  침산리
36641  세종특별자치시  조치원읍  침산리

[3594 rows x 3 columns]

In [18]:
df_sejong['단지명'].str.contains('가락마을')

0         True
1         True
2         True
3         True
4         True
         ...
38890    False
38891    False
38892    False
38893    False
38894    False
Name: 단지명, Length: 38895, dtype: bool

In [19]:
# contains를 쓰면 가운데에 있는 이름도 포함되기때문에 더 유용함.

print("startswith : ",len(df_sejong[df_sejong['단지명'].str.startswith('가락마을')]))
print("contains :", len(df_sejong[df_sejong['단지명'].str.contains('가락마을')]))

startswith :  5010
contains : 5501

In [20]:
df_sejong[df_sejong['단지명'].str.contains('가락마을')]['단지명'].unique()

array(['가락마을 20단지(호반베르디움5차)', '가락마을11단지(중흥에듀카운티)', '가락마을13단지(대광로제비앙)',
       '가락마을15단지(중흥파크뷰)', '가락마을16단지(에듀그린)', '가락마을17단지(골드클래스)',
       '가락마을21단지(에듀포레)', '가락마을22단지(에듀힐스)', '가락마을3단지(호반베르디움)',
       '가락마을5단지(유승한내들)', '가락마을6단지(중흥S클래스프라디움)', '가락마을7단지(중흥S-클래스프라디움)',
       '가락마을8단지(고운뜰아파트)', '가락마을9단지(신동아 파밀리에)', '이지더원(가락마을10단지)',
       '이지더원(가락마을4단지)', '가락마을 19단지', '가락마을 2단지', '가락마을18단지',
       '가락마을1단지(힐데스하임)', '가락마을14단지(우남퍼스트빌)'], dtype=object)

In [21]:
df_sejong.loc[df_sejong['단지명']=='이지더원(가락마을10단지)','단지명'] ='가락마을10단지(이지더원)'

In [22]:
df_sejong.loc[df_sejong['단지명']=='가락마을10단지(이지더원)','단지명']

1788     가락마을10단지(이지더원)
1789     가락마을10단지(이지더원)
1790     가락마을10단지(이지더원)
1791     가락마을10단지(이지더원)
1792     가락마을10단지(이지더원)
              ...
29015    가락마을10단지(이지더원)
29016    가락마을10단지(이지더원)
29017    가락마을10단지(이지더원)
29018    가락마을10단지(이지더원)
29019    가락마을10단지(이지더원)
Name: 단지명, Length: 329, dtype: object

In [24]:
# 전처리가 필요한 단지명 확인 후 값 변환 

df_sejong.loc[df_sejong['단지명']=='이지더원(가락마을4단지)','단지명'] = '가락마을4단지(이지더원)'

In [25]:
df_sejong[df_sejong['단지명'].str.contains('가락마을')]['단지명'].unique()

array(['가락마을 20단지(호반베르디움5차)', '가락마을11단지(중흥에듀카운티)', '가락마을13단지(대광로제비앙)',
       '가락마을15단지(중흥파크뷰)', '가락마을16단지(에듀그린)', '가락마을17단지(골드클래스)',
       '가락마을21단지(에듀포레)', '가락마을22단지(에듀힐스)', '가락마을3단지(호반베르디움)',
       '가락마을5단지(유승한내들)', '가락마을6단지(중흥S클래스프라디움)', '가락마을7단지(중흥S-클래스프라디움)',
       '가락마을8단지(고운뜰아파트)', '가락마을9단지(신동아 파밀리에)', '가락마을10단지(이지더원)',
       '가락마을4단지(이지더원)', '가락마을 19단지', '가락마을 2단지', '가락마을18단지',
       '가락마을1단지(힐데스하임)', '가락마을14단지(우남퍼스트빌)'], dtype=object)

In [26]:
# 시작,끝,포함 글자 인식

# df.str.startswith("시작글자")
# df.str.endswith("끝글자")
# df.str.contains("포함글자")

In [27]:
df_sejong['단지명'].unique()[:10]

array(['가락마을 20단지(호반베르디움5차)', '가락마을11단지(중흥에듀카운티)', '가락마을13단지(대광로제비앙)',
       '가락마을15단지(중흥파크뷰)', '가락마을16단지(에듀그린)', '가락마을17단지(골드클래스)',
       '가락마을21단지(에듀포레)', '가락마을22단지(에듀힐스)', '가락마을3단지(호반베르디움)',
       '가락마을5단지(유승한내들)'], dtype=object)

In [28]:
df_sejong['단지명'].str.startswith('가락마을')

0         True
1         True
2         True
3         True
4         True
         ...
38890    False
38891    False
38892    False
38893    False
38894    False
Name: 단지명, Length: 38895, dtype: bool

In [29]:
df_sejong[df_sejong['단지명'].str.endswith('(골드클래스)')].head()

,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도,시
296,201701,7,세종특별자치시 고운동,1386,0,가락마을17단지(골드클래스),월세,59.9159,10000,20,10,2015,세종특별자치시
297,201701,9,세종특별자치시 고운동,1386,0,가락마을17단지(골드클래스),월세,59.9159,3000,45,13,2015,세종특별자치시
298,201701,10,세종특별자치시 고운동,1386,0,가락마을17단지(골드클래스),월세,59.9159,5000,30,10,2015,세종특별자치시
299,201701,14,세종특별자치시 고운동,1386,0,가락마을17단지(골드클래스),전세,59.9809,17000,0,6,2015,세종특별자치시
300,201701,15,세종특별자치시 고운동,1386,0,가락마을17단지(골드클래스),월세,59.9159,4500,40,5,2015,세종특별자치시

In [30]:
df_sejong[df_sejong['시군구'].str.contains('(고운동)')].head()

<ipython-input-30-f9379208fdc6>:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_sejong[df_sejong['시군구'].str.contains('(고운동)')].head()

,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도,시
0,201701,13,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,10000,0,13,2015,세종특별자치시
1,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,18000,0,19,2015,세종특별자치시
2,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,59.8338,17000,0,10,2015,세종특별자치시
3,201701,15,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,17000,0,2,2015,세종특별자치시
4,201702,4,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),월세,84.9895,10000,30,13,2015,세종특별자치시